# Linter rules.
#
# Run manually with:
#    clang-format -i --style=file src/*.(h|cc)
#
# Install clang-format on MacPorts with:
#    sudo port install clang-10
#    sudo port select --set clang mp-clang-10
#
---
Language:        Cpp
BasedOnStyle:  Google
...
