# Linter rules.
#
# Run manually with:
#    git-clang-format-mp-9.0
#
# Install clang-format on MacPorts with:
#    sudo port install clang-9.0
#    sudo port select --set clang mp-clang-9.0
#
---
Language:        Cpp
BasedOnStyle:  Google
...
